token = your discord bot token
clientId = your discord bot client id


MongoUsername = example-username
MongoPassword = very secure password

MongoDB = your mongodb connection string, use the above env
